/* page: */
/* layout (l) */
.l-left {
  width: 900px;
  float: left;
}
.l-right {
  width: calc(100% - 900px);
  float: right;
} 

/* components */
/* svg */
svg {
  width: 100%;
  height: 600px;
  position: fixed;
  top: 2em;
  margin-left: -4em;
}
svg path {
  fill: lightgrey;
}
svg path:hover {
  fill: dimgrey;
} 
svg .pin {
  font-size: 0.8em;
  font-family: monospace;
  fill: darkgrey;
}
svg .pin:hover {
  cursor: pointer;
  fill: black;
}

svg [class*="code"]:hover {
  fill: black;
}

/* table */
.gdp-table {
 background-color: mintcream;
  margin-top: -8px;
}

table {
  margin-left: 1em;
}
th {
  width: 6em;
  height: 2em;
  text-align: left;
  vertical-align: bottom;
  padding-bottom: 0.5em;
}
th:nth-child(2) {
  text-align: center;
}
td:nth-child(2) {
  text-align: right;
  padding-right: 3em;
}

/* atomic */
.f-f-m {
  font-family: monospace;
}
.f-f-ss {
  font-family: sans-serif;
}
.p-f {
  position: fixed;
}
